.home .hero > img {
  max-height: 280px;
}
.site-brand .logo-box img {
  height: 2rem;
  min-width: inherit;
}
.site-brand .site-brand-title {
  font-size: 1.4rem;
}

@media screen and (max-device-width: 400px) {
  .video {
    width: 90%;
  }
}

@media screen and (min-device-width: 401px) {
  .video {
    width: 70%;
  }
}
